<!DOCTYPE html>
<html lang="en" ng-app="pauzer">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pauzer</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link href="css/main.css" rel="stylesheet" media="screen">

        <!-- Load CDN resoursces -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <!-- Load local copys if loading from cdn fails -->
        <script type="text/javascript">window.angular || document.write('<script type="text/javascript" src="js/angular.min.js"><\/script>');</script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/filters.js"></script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="wrap">
            <div class="container">
                <div class="page-header">
                    <h1 class="text-center">Pauzer</h1>
                </div>

                <div class="row" ng-controller="PauzerCtrl">
                    <div class="span6">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="limit">Beperk snelheid met: </label>
                                <select name="limit" ng-model="form.limit">
                                    <option value="100" selected>100&#37;(pauzeer)</option>
                                    <option value="80">80&#37;</option>
                                    <option value="50">50&#37;</option>
                                    <option value="20">20&#37;</option>
                                </select>
                            </div> <!--.control-group-->

                            <div class="control-group">
                                <label class="control-label" for="time"> Tijd (in minuten): </label>
                                <select name="time" ng-model="selectedTime" ng-options="t for t in availableTimes">
                                    <!--<option value="1">1</option>-->
                                    <!--<option value="15" selected>15</option>-->
                                    <!--<option value="30">30</option>-->
                                    <!--<option value="60">60</option>-->
                                    <!--<option value="90">90</option>-->
                                </select>
                            </div><!--control-group-->

                            <div class="controls">
                                <ng-switch on="form.counterRunning">
                                    <button class="btn btn-primary btn-large" ng-click="toggleTimer()" ng-switch-when="false">Start timer</button>
                                    <button class="btn btn-primary btn-large" ng-click="toggleTimer()" ng-switch-when="true">Stop timer</button>
                                </ng-switch>
                            </div>
                        </form>
                    </div> <!-- span6/ column1-->
                    <div class="span6">
                        <h2 class="text-center" id="time" class="time">
                            <strong>{{ counter | timeFormat }}</strong>
                        </h2>
                        <div ng-show="form.counterRunning" class="progress">
                            <div class="bar" ng-style="progressBar" ></div>
                        </div>
                    </div><!--span6/ column2 -->
                </div> <!-- row -->
            </div><!-- (main) .container -->
        </div> <!-- wrap -->

        <div id="footer">
            <div class="container">
                <hr>
                <p class="text-center muted credit"><a href="http://kalteronline.org">Kalter&Co</a></p>
            </div>
        </div> <!--footer-->
    </body>
</html>
